.inner {
  position: relative;
}

.selected-city {
  color: var(--colorInput);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border: 1px solid var(--colorInput);
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
}
@media (min-width: 320px) {
  .selected-city {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .selected-city {
    font-size: 16px;
  }
}
.selected-city.open {
  margin-bottom: 30px;
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
  border-radius: 10px;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--colorInput);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding: 5px 5px 5px 12px;
}
.option:hover {
  background-color: #f2f2f2;
}
.option.selected {
  font-weight: bold;
}

.arrow {
  position: absolute;
  right: 5px;
  transition: transform 0.3s ease;
}
.arrow.open {
  transform: rotate(180deg);
}