.title {
  margin: 0;
  color: #000;
  font-family: Arial;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 320px) {
  .title {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 21px;
  }
}